img{
  width: 250px;
  height: 250px;
}

.card{
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  width: 300px;
  margin: 2rem;
  text-align: center;
  border-radius: 12px;
  padding: 4px;
}

ul{
  display: flex;
  flex-direction: row;
}
