.modal {
  display: block;
  top: 0;
  left: 0;

  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeded;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

img{
  width: 450px;
  height: 450px;
  margin-bottom: 10px;
  overflow: hidden;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 900;
  padding-bottom: 10px;
 align-content: center;
}

p{
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  padding-bottom: 10px;
  align-content: center;
  width: 450px;
  line-height: 20px;
}


.close {
  color: rgba(185, 23, 227, 0.8);
  float: right;
  font-size: 50px;
  font-weight: bold;
}
